
rna-seq/rawdata

rawdata/rna-seq

*.sqlite

*.xlsx

rna-seq/pipeline/notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb

*.h5

*.tsv

*.json

*.pyc

*.txt

rna-seq/pipeline/notebooks/.~iko_notebook_v2.ipynb
